# core
numpy
pandas
scipy
scikit-learn

# model
lightgbm
catboost
optuna
optuna-integration[lightgbm]

# data
pyarrow
fastparquet

# utils
tqdm
joblib
pyyaml

# viz (optional)
matplotlib
seaborn
japanize-matplotlib